.text-item__container {
  margin-bottom: 50px;
}

.text-item {
  height: 370px;
  max-width: 376px;
  margin: 0 auto;
}

.text-list__button {
  width: 100%;
}

.text-list__title {
  margin-top: 30px;
}
